/**
 * Sizes for media queries
 */
$break-small-max : 	767px;
$break-small	: 	768px;
$break-medium	:	992px;
$break-large	: 	1200px;

/**
 * Colors
 */
$color-green : #006837;
$color-light-blue : #0071BC;
$color-gray : #4D4D4D;
$color-dark-gray : #1B1B1B;
$color-black : #000000;
$color-white : #FFFFFF;