@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?brpt9');
	src:url('fonts/icomoon.eot?brpt9#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?brpt9') format('truetype'),
		url('fonts/icomoon.woff?brpt9') format('woff'),
		url('fonts/icomoon.svg?brpt9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-agreement:before {
	content: "\e900";
}
.icon-arrow-right:before {
	content: "\e901";
}
.icon-arrow-right2:before {
	content: "\e902";
}
.icon-bloger:before {
	content: "\e903";
}
.icon-bride:before {
	content: "\e904";
}
.icon-business:before {
	content: "\e905";
}
.icon-caution:before {
	content: "\e906";
}
.icon-check:before {
	content: "\e907";
}
.icon-check2:before {
	content: "\e908";
}
.icon-clipboard:before {
	content: "\e909";
}
.icon-delete:before {
	content: "\e90a";
}
.icon-facebook:before {
	content: "\e90b";
}
.icon-folder:before {
	content: "\e90c";
}
.icon-folderBlak:before {
	content: "\e90d";
}
.icon-InfoSpy_zoom .path1:before {
	content: "\e90e";
	color: rgb(0, 0, 0);
}
.icon-InfoSpy_zoom .path2:before {
	content: "\e90f";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}
.icon-InfoSpy_zoom .path3:before {
	content: "\e910";
	margin-left: -1em;
	color: rgb(77, 77, 77);
}
.icon-close:before {
	content: "\e911";
}
.icon-linkedin:before {
	content: "\e912";
}
.icon-load1:before {
	content: "\e913";
}
.icon-loading:before {
	content: "\e914";
}
.icon-loading1:before {
	content: "\e915";
}
.icon-G-plus:before {
	content: "\e916";
}
.icon-sex:before {
	content: "\e917";
}
.icon-multiple:before {
	content: "\e918";
}
.icon-network:before {
	content: "\e919";
}
.icon-peace:before {
	content: "\e91a";
}
.icon-personInfo:before {
	content: "\e91b";
}
.icon-photos:before {
	content: "\e91c";
}
.icon-pinterest:before {
	content: "\e91d";
}
.icon-sexOfencess:before {
	content: "\e91e";
}
.icon-situation:before {
	content: "\e91f";
}
.icon-twitter:before {
	content: "\e920";
}
.icon-users:before {
	content: "\e921";
}
.icon-zoomGlass:before {
	content: "\e922";
}
.icon-handcuffs:before {
	content: "\e923";
}
.icon-folderUser .path1:before {
	content: "\e924";
	color: rgb(255, 255, 255);
}
.icon-folderUser .path2:before {
	content: "\e925";
	margin-left: -1.3271484375em;
	color: rgb(0, 0, 0);
}
.icon-folderUser .path3:before {
	content: "\e926";
	margin-left: -1.3271484375em;
	color: rgb(78, 201, 245);
}
.icon-folderUser .path4:before {
	content: "\e927";
	margin-left: -1.3271484375em;
	color: rgb(78, 201, 245);
}

