<div class="main-page">
  <div id="search" class="jumbotron">
    <info-spy-header></info-spy-header>
    <div class="container text-center">
      <div class="main-info fade-in one">
        <h1 class="title">LOREM IPSUM IS SIMPLY</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
      </div>
      <div class = "panel panel-primary fade-in one">
        <div class = "panel-heading">
          <h3 class="title">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h3>
        </div>
        <div class = "panel-body">
          <div class="fade-in three arrow-box hidden-xs">
            <span class="glyphicon glyphicon-chevron-right arrow"></span>
          </div>
          <search-bar></search-bar>
        </div>
      </div>
      <div class="second-info fade-in two">
        <img class="logos img-responsive center-block hidden-xs" src="../images/Brand_logos_homePage.png"></img>
        <i>"Lorem Ipsum is simply dummy text of the printing and type"</i>
        <h2 class="total-records">XX,XXX,XXX,XXX Accessible Records</h2>
      </div>
    </div>
  </div>

  <div class="container information-container">
    <div class="find-truth-info col-xs-12 clear-padding">
      <div class="title-container col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="title-panel"><span class="icon-InfoSpy_zoom"></span> Find the Truth</h2>
        <span class="subtitle-panel">search anybody to find...</span>
      </div>
      <div class="content row">
        <div class="col-sm-8 col-sm-offset-2 col-xs-12">
          <div class="feature col-sm-4 col-xs-6">
            <span class="icon icon-check2"></span><span class="text"> Online Activity</span>
          </div>
          <div class="feature col-sm-4 col-xs-6">
            <span class="icon icon-check2"></span><span class="text"> Online Activity</span>
          </div>
          <div class="feature col-sm-4 col-xs-6">
            <span class="icon icon-check2"></span><span class="text"> Online Activity</span>
          </div>
          <div class="feature col-sm-4 col-xs-6">
            <span class="icon icon-check2"></span><span class="text"> Online Activity</span>
          </div>
          <div class="feature col-sm-4 col-xs-6">
            <span class="icon icon-check2"></span><span class="text"> Online Activity</span>
          </div>
          <div class="feature col-sm-4 col-xs-6">
            <span class="icon icon-check2"></span><span class="text"> Online Activity</span>
          </div>
          <div class="feature col-sm-4 col-xs-6">
            <span class="icon icon-check2"></span><span class="text"> Online Activity</span>
          </div>
          <div class="feature col-sm-4 col-xs-6">
            <span class="icon icon-check2"></span><span class="text"> Online Activity</span>
          </div>
          <div class="feature col-sm-4 col-xs-6">
            <span class="icon icon-check2"></span><span class="text"> Online Activity</span>
          </div>
          <div class="feature col-sm-4 col-xs-6">
            <span class="icon icon-check2"></span><span class="text"> Online Activity</span>
          </div>
        </div>
      </div>
    </div>

    <div class="video-info col-xs-12 clear-padding">
      <div class="title-container col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="title-panel"><span class="glyphicon glyphicon-search"></span> Why InfoSpy?</h2>
        <span class="subtitle-panel">watch the shocking video...</span>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-12">
          <div align="center" class="embed-responsive embed-responsive-16by9 center-block">
            <iframe width="420" height="315" src="https://www.youtube.com/embed/qLTdUvaMnaE" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonials-info col-xs-12 clear-padding">
      <div class="title-container col-sm-8 col-sm-offset-2 col-xs-12">
        <h2 class="title-panel"><span class="glyphicon glyphicon-search"></span> What Others Found</h2>
        <span class="subtitle-panel">here's what people are saying about InfoSpy</span>
      </div>
      <div class="content row">
        <div class="col-sm-6 col-xs-12">
          <div class="element">
            <div class="col-xs-4 clear-padding text-center">
              <img class="img-responsive photo center-block" src="../images/yeoman.png"></img>
              <uib-rating ng-model="rate" max="max" readonly="isReadonly" state-on="'glyphicon glyphicon-search'" state-off="'glyphicon glyphicon-search'"></uib-rating>
            </div>
            <div class="col-xs-8 clear-padding">
              <p class="testimonial">Lorem Ipsum 1 is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <span class="person-info"><strong>Vladimir Putin, URSS president</strong></span>
              <span class="person-info"><strong>Kansas City, KS</strong></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="element">
            <div class="col-xs-4 clear-padding text-center">
              <img class="img-responsive photo center-block" src="../images/yeoman.png"></img>
              <uib-rating ng-model="rate" max="max" readonly="isReadonly" state-on="'glyphicon glyphicon-search'" state-off="'glyphicon glyphicon-search'"></uib-rating>
            </div>
            <div class="col-xs-8 clear-padding">
              <p class="testimonial">Lorem Ipsum 1 is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <span class="person-info"><strong>Vladimir Putin, URSS president</strong></span>
              <span class="person-info"><strong>Kansas City, KS</strong></span>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="element">
            <div class="col-xs-4 clear-padding text-center">
              <img class="img-responsive photo center-block" src="../images/yeoman.png"></img>
              <uib-rating ng-model="rate" max="max" readonly="isReadonly" state-on="'glyphicon glyphicon-search'" state-off="'glyphicon glyphicon-search'"></uib-rating>
            </div>
            <div class="col-xs-8 clear-padding">
              <p class="testimonial">Lorem Ipsum 1 is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <span class="person-info"><strong>Vladimir Putin, URSS president</strong></span>
              <span class="person-info"><strong>Kansas City, KS</strong></span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="element">
            <div class="col-xs-4 clear-padding text-center">
              <img class="img-responsive photo center-block" src="../images/yeoman.png"></img>
              <uib-rating ng-model="rate" max="max" readonly="isReadonly" state-on="'glyphicon glyphicon-search'" state-off="'glyphicon glyphicon-search'"></uib-rating>
            </div>
            <div class="col-xs-8 clear-padding">
              <p class="testimonial">Lorem Ipsum 1 is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <span class="person-info"><strong>Vladimir Putin, URSS president</strong></span>
              <span class="person-info"><strong>Kansas City, KS</strong></span>
            </div>
          </div>
        </div>

        <div class="button-container col-xs-12 col-sm-8 col-sm-offset-2">
          <a class="btn btn-default" href="#search">
            <div>
              <span animate-in-view='show' class="arrow arrow-right glyphicon glyphicon-chevron-right"></span>
            </div>
            <div class="link-container">
              <span class="link">Click to Search Anybody</span>
            </div>
            <div>
              <span animate-in-view='show' class="arrow arrow-left glyphicon glyphicon-chevron-left"></span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
