
<div class="search-four">
	<div class="modal-header text-center">
        <h3 class="modal-title">PLEASE WAIT: CREATING FINAL REPORT</h3>
    </div>
 	<div class="modal-body">
	    <div class="row">
			<uib-progressbar class="progress-striped active" value="barValue" type="success"></uib-progressbar>

			<div class="col-xs-12 general-info">
				<div class="text-center hidden-xs">
		    		<span class="glyphicon glyphicon-user icon"></span>
		    	</div>
		    	<div class="personal-info">
		    		<h3 class="person-name">{{person.first_name}} {{person.last_name}}</h3>
		    		<p class="line-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		    		<p class="line-info">{{person.age}} years old | {{person.state}}</p>
		    	</div>
		    	<div class="folder-icon hidden-xs">
		    		<span class="icon icon-folder"></span>
		    	</div>
		    </div>
		</div>
		<!--<div class="text-center">
		    <h1 class="modal-title">PLEASE WAIT: CREATING FINAL REPORT</h1>
		</div>
		<div class="progress-container">
			<uib-progressbar class="progress-striped active" value="barValue" type="success">
				<img class="magnifying-glass" src="../images/magnifying-glass.svg"></img>
				<span class="percent">{{barValue}}%</span>
			</uib-progressbar>
		</div>-->
		<div class="row">
		    <div class="information col-xs-12">
		    	<div class="col-xs-12 tabs-container">
			    	<uib-tabset vertical="true" type="pills" class="tab-animation">
			    		<uib-tab ng-repeat="tab in tabs" active="tab.active" disable="tab.disabled">
			    			<uib-tab-heading>
			    				<span class="icon-tab text-center" ng-class="tab.icon"></span> {{tab.header}}
			    			</uib-tab-heading>
			    			<div class="tab-info">
			    				<p ng-bind-html="tab.description"></p>
			    			</div>
			    		</uib-tab>
			    	</uib-tabset>
			    </div>
		    </div>
		</div>
	</div>
</div>