<div class="progress-bar-modal search-five">
	<div class="modal-header">
        <p class="title"><span class="icon glyphicon glyphicon-warning-sign"></span> <strong>WARNING:</strong> PLEASE READ BEFORE YOU CONTINUE</p>
    </div>
	<div class="modal-body">
		<div class="text-center">
		    <h3 class="modal-title">There are limits to you can use {{person.firstname.value}}'s report</h3>
		    <span class="modal-subtitle">Please check the box below to continue to your report</span>
		</div>
		<div class="row">
		    <div class="col-xs-12 information">
		    	<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
			    	<p class="paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
			    </div>
			    <div class="col-xs-12 text-center">
			    	<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				    	<a ng-click="nextStep()" class="btn btn-success">
					    	<div>
						    	<strong>CONTINUE</strong>
						    </div>
						    <div>
					    		<span class="icon icon-arrow-right2"></span>
					    	</div>
					    </a>
					</div>
			    </div>
		    </div>
		</div>
	</div>
</div>