<div class="about-us-page"> 
  <info-spy-header></info-spy-header>
  <div class="container">
    <div class="col-xs-12 clear-padding panel">
      <div class="col-xs-12 clear-padding general-info">
        <div class="col-xs-12 clear-padding">
          <h2 class="title-panel">About <span class="emphasis">Us</span></h2>
          <p class="paragraph col-xs-12 col-sm-8 col-sm-offset-2 clear-padding"><strong>CheckThem</strong> is a professional US-based provider of effective screening services. With huge database resources at its disposal, CheckThem carries out thorough background checks, extensive searches, in-depth employee monitoring and gives you an access to accurate and trustworthy information to satisfy your research needs. Our people search engine is <strong>fast</strong>, <strong>easy</strong> to work with, and <strong>safe</strong>. By using it, customers will be aware of their surroundings, they can get in contact with people they have lost a touch with, or find potential business partners.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="reason-panel">
    <div class="container">
      <div class="col-xs-12 clear-padding panel">
        <div class="col-xs-12 clear-padding general-info">
          <div class="col-xs-12 clear-padding col-sm-8 col-sm-offset-2">
            <h2 class="title-panel">Why <span class="emphasis">CheckThem</span>?</h2>
            <p class="paragraph text-center">Because our team is serious about <strong>quality</strong> and we are determined to offer you a wide spectrum of high quality services:</p>
            <div class="col-xs-12 clear-padding list">
              <h4 class="list-title">Search Services:</h4>
              <ul>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>People Searches</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Address Searches</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Phone number Searches</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>E-mail address Searches</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Social profiles Searches</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Criminal Searches</li>
              </ul>
            </div>
            <div class="col-xs-12 clear-padding list">
              <h4 class="list-title">Background Check Services:</h4>
              <ul>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Education Records</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Employment Records</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Marriage/divorce records</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>License records</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Property records</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Abuse Records</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Lawsuits records</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Criminal background checks</li>
              </ul>
            </div>
            <div class="col-xs-12 clear-padding list">
              <h4 class="list-title">Screening Services:</h4>
              <ul>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Tenant Screening</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Nanny Screening</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Data screening</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Credit Screening</li>
              </ul>
            </div>
            <div class="col-xs-12 clear-padding list">
              <h4 class="list-title">Business Services:</h4>
              <ul>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Pre-employment screening</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Investment Screening</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Partnership Screening</li>
              </ul>
            </div>
            <div class="col-xs-12 clear-padding list">
              <h4 class="list-title">Protection Services:</h4>
              <ul>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Protect your identity</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Violence prevention</li>
                <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Fraud prevention</li>
              </ul>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="container flex-container">
    <div class="panel panel-left">
      <div class="general-info">
        <h2 class="title-panel">Our <span class="emphasis">Team</span>?</h2>
        <p class="paragraph">Our dedicated team of professionals is focused on improving user experience by investing in modern technologies and innovative systems.  We are in possession of an enormous classified database, which is regularly updated to ensure the best searching results and to assist our customers in finding what they are looking for. Though we provide users with a substantial amount of information, we treat the submitted data with respect - total confidentiality is assured!</p>
      </div>
    </div>
    <div class="image-container hidden-xs">
      <div class="verticalLine"></div>
      <img  class="img-responsive" src="../images/team.svg"></img>
    </div>
    <div class="panel panel-rigth">
      <div class="clear-padding general-info">
        <h2 class="title-panel">Our <span class="emphasis">Goal</span>?</h2>
        <p class="paragraph">Our goal is to satisfy customer’s needs by providing them with useful information and high-level of service. With a comprehensive collection of public records at hand, our clients easily find new business opportunities and stay well informed about their neighbors, colleagues, and relatives. CheckThem aims to offer you the most efficient way to shed light on your doubts.</p>
      </div>
    </div>
  </div>
</div>
<info-spy-footer></info-spy-footer>