<div class="contact">
  <info-spy-header></info-spy-header>
  <div class="container content">
    <div class="col-sm-6 col-xs-12 text-center">
      <div class="header-container">
        <h1 class="title">Customer <span class="emphasis">Support</span></h1>
        <div class="border-bottom"></div>
      </div>
      <div class="contact-information center-block">
        <p>Questions? <span class="emphasis">Call Us!</span></p>
        <p>We have answers!</p>
        <div class="icon-container"><span class="icon icon-telephone"></span></div>
        <p>Toll Free: 888-888-8888.</p>
        <div class="icon-container"><span class="icon icon-time"></span></div>
        <p>
          Hours of operation:<br>
          Monday-Friday 6am-5pm<br>
          Pacific Standard Time
        </p>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 text-center">
      <div class="header-container">
        <h1 class="title">Prefer to <span class="emphasis">e-mail</span> us?</h1>
        <div class="border-bottom"></div>
      </div>
      <div class="contact-form center-block">
        <p class="paragraph">Fill out the form below and we'll respond within 24 hours</p>
        <div class="form-group" ng-class="{'has-error': contact.firstname.error}">
          <input type="text" class="form-control font-small" placeholder="Name *" ng-model="contact.firstname.value" ng-enter="submit()">
          <p class="error" ng-if="contact.firstname.error">{{contact.firstname.error}}</p>
        </div>
        <div class="form-group" ng-class="{'has-error': contact.lastname.error}">
          <input type="text" class="form-control font-small" placeholder="Last Name *" ng-model="contact.lastname.value" ng-enter="submit()">
          <p class="error" ng-if="contact.lastname.error">{{contact.lastname.error}}</p>
        </div>
        <div class="form-group" ng-class="{'has-error': contact.email.error}">
          <input type="email" class="form-control font-small" placeholder="Email *" ng-model="contact.email.value" ng-enter="submit()">
          <p class="error" ng-if="contact.email.error">{{contact.email.error}}</p>
        </div>
        <div class="form-group" ng-class="{'has-error': contact.question.error}">
          <textarea class="form-control font-small" rows="5" ng-model="contact.question.value" placeholder="Message *" ng-enter="submit()"></textarea>
          <p class="error" ng-if="contact.question.error">{{contact.question.error}}</p>
        </div>
        <button type="button" class="btn btn-success paragraph" ng-click="submit()">Submit</button>
      </div>
    </div>
  </div>
  <div class="map-container col-xs-12 clear-padding">
    <address class="text-left">
      <h3 class="address-title">Company name</h3>
      1355 Market Street, Suite 900<br>
      San Francisco, CA 94103<br>
      <abbr title="Phone">P:</abbr> (123) 456-7890<br>
      <abbr title="Fax">F:</abbr> (123) 456-7890
    </address>
    <div map-lazy-load="https://maps.google.com/maps/api/js"
      map-lazy-load-params="{{googleMapsUrl}}">
      <ng-map center="{{map.position}}" zoom="14" scrollwheel="false" style="height: 450px;"></ng-map>
    </div>
  </div>
  <info-spy-footer></info-spy-footer>
</div>
