<div id='footer' class="footer col-xs-12 clear-padding">
	<div class="first">
		<div class="container clear-padding">
			<div class="col-xs-12 clear-padding">
				<div class="col-sm-4 col-xs-12 col">
					<ul class="nav nav-pills nav-stacked">
                        <li>
                          <a class="footer-link paragraph" href="/reverse-phone.html">Reverse Cell Phone Lookup</a>
                        </li>
                        <li>
                          <a class="footer-link paragraph" href="/criminal-records.html">Criminal Arrest Records</a>
                        </li>
                        <li>
                          <a class="footer-link paragraph" href="/property-records.html">Property Records</a>
                        </li>
                        <li>
                          <a class="footer-link font-small" href="/faq.html">FAQ</a>
                        </li>
                        <li>
                          <a class="footer-link font-small" href="/terms.html">Terms and Conditions</a>
                        </li>
                        <li>
                          <a class="footer-link font-small" href="/privacy.html">Privacy Policy</a>
                        </li>
                    </ul>
				</div>
				<div class="col-sm-4 col-xs-12 col">
					<div class="col-sm-12 clear-padding">
						<h3 class="title-col social-media-title">Social Media</h3>
						<a class="social-network" href="https://www.instagram.com/checkthemcom/" target="_blank">
							<span class="icon-instagram social-network-icon"></span>
						</a>
						<a class="social-network" href="https://plus.google.com/109665946386494699261/posts" target="_blank">
				    		<span class="icon-google-plus social-network-icon"></span>
				    	</a>
				    	<a class="social-network" href="https://www.facebook.com/checkthemcom/" target="_blank">
				    		<span class="icon-facebook social-network-icon"></span>
				    	</a>
				    </div>
				    <div class="col-sm-12 clear-padding">
				    	<a class="social-network" href="https://twitter.com/checkthemcom" target="_blank">
				    		<span class="icon-twitter social-network-icon"></span>
				    	</a>
				    	<a class="social-network" href="https://www.pinterest.com/checkthem/" target="_blank">
				    		<span class="icon-pinterest social-network-icon"></span>
				    	</a>
				    	<a class="social-network" href="https://www.youtube.com/channel/UCBOLs25_VO-_DtpeRyA4Kfw" target="_blank">
				    		<span class="icon-youtube social-network-icon"></span>
				    	</a>
				    </div>
				    <div class="col-sm-12 clear-padding">
				    	<a class="social-network" href="http://checkthem.tumblr.com/" target="_blank">
				    		<span class="icon-tumblr social-network-icon"></span>
				    	</a>
				    </div>
				</div>
				<div class="col-sm-4 col-xs-12 col">
					<h3 class="title-col">DISCLAIMER</h3>
					<p class="font-small">Under the Fair Credit Reporting Act, 15 USC 1681 et seq., ("FCRA"), It is unlawful to use our service or the information we provide for any purpose that would require FCRA compliance.</p>
				</div>

				<div class="col-xs-12 clear-padding">
					<div class="col-xs-12 contact-div text-center">
						<h4 class="small-subtitle">Contact Us: (800) 410-3722</h4>
					</div>
					<div class="col-xs-12 col-sm-6 button">
						<button type="button" class="btn btn-default btn-lg login small-subtitle" ng-click="login()">Log In</button>
					</div>
					<div class="col-xs-12 col-sm-6 button">
						<button type="button" class="btn btn-default btn-lg small-subtitle" ng-click="signUp()">Sign Up</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="second">
		<div class="container">
			<span class="copyright">&copy; CheckThem - All Rights Reserved.</span>
		</div>
	</div>

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
	{ (i[r].q=i[r].q||[]).push(arguments)}
	,i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-69805600-1', 'auto');
	ga('send', 'pageview');
	</script>

</div>
