<div class="progress-bar-modal search-five">
	<div class="modal-header">
        <p class="title text-center text-light"><span class="icon glyphicon glyphicon-warning-sign"></span> <span class="emphasis">WARNING:</span> PLEASE READ BEFORE YOU CONTINUE</p>
    </div>
	<div class="modal-body">
		<div class="text-center">
		    <h3 class="modal-title">There are limits to how you can use {{person.firstname.value}}'s report.</h3>
		</div>
		<div class="row">
		    <div class="col-xs-12 information">
		    	<div class="col-md-10 col-md-offset-1 col-xs-12">
			    	<p class="paragraph text-center">This report should be treated with care.<br>You cannot use this report to screen employees/tenants.</p>
			    </div>
			    <div class="col-xs-12 text-center">
			    	<div class="col-sm-8 col-sm-offset-2 col-xs-12">
				    	<a ng-click="nextStep()" class="btn btn-success">
					    	<div>
						    	<span class="paragraph">I AGREE >></span>
						    </div>
					    </a>
					</div>
			    </div>
		    </div>
		</div>
	</div>
</div>
