<div class="services-page">
  <info-spy-header></info-spy-header>
  <div class="first-panel panel">
    <div class="container">
      <div class="col-xs-12 clear-padding">
        <div class="col-xs-12 clear-padding general-info">
          <div class="col-xs-12 clear-padding">
            <h1 class="title-panel">What <span class="emphasis">we</span> do?</h1>
            <div class="flex-grid">
              <div class="col-sm-6 clear-padding">
                <img class="img-responsive center-block" src="../images/stadistics.png">
              </div>
              <div class="col-sm-6 information">
                <p class="paragraph">We offer intelligent screening solutions tailored to your specific needs.</p>
                <p class="paragraph">Relying on last-word technology and huge collection of data sources, we conduct overall searches, run extensive background checks, and provide customers with complete and accurate reports.</p>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="second-panel panel">
    <div class="container">
      <div class="col-xs-12 clear-padding">
        <div class="col-xs-12 clear-padding general-info">
          <div class="col-xs-12 clear-padding flex-grid">
            <h1 class="title-panel col-sm-6">How <span class="emphasis">we</span> do?</h1>
            <p class="col-sm-6 font-small">CheckThem delivers high-quality background screening services to help you find out the truth in an easy, quick, and secure way.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="third-panel panel">
    <div class="container">
      <div class="col-xs-12 clear-padding">
        <div class="col-xs-12 clear-padding general-info">
          <div class="col-xs-12 clear-padding">
            <h2 class="title-panel">We do it <span class="emphasis">Best!</span></h2>
            <p class="text-center paragraph">Our services encompass a full range of searches, background checks, and<br>verifications for personal and business purposes:</p>
            <div class="col-sm-6">
              <div class="col-xs-12 clear-padding list">
                <div class="border-bottom"></div>
                <h4 class="list-title">Search Services:</h4>
                <p class="paragraph">By using our people search engine, customers instantly find information about people by name, phone number, e-mail, or location. Users can get in touch with old friends or relatives they have lost contact with, or can find out whether among their neighbors there are criminals. This service assists you to track down addresses, numbers, and other contacts.</p>
                <ul>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>People Searches</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Address Searches</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Phone number Searches</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>E-mail address Searches</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Social profiles Searches</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Criminal Searches</li>
                </ul>
              </div>
              <div class="col-xs-12 clear-padding list">
                <div class="border-bottom"></div>
                <h4 class="list-title">Screening Services:</h4>
                <p class="paragraph">Relaying on our comprehensive screening services you will have at hand important information, when it comes to choosing nanny, hiring an employee, allowing a tenant to move in. Now it’s easy to make the right choice.</p>
                <ul>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Tenant Screening</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Employ background Screening</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Nanny Screening</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Data screening</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Credit Screening</li>
                </ul>
              </div>
              <div class="col-xs-12 clear-padding list">
                <div class="border-bottom"></div>
                <h4 class="list-title">Business Services:</h4>
                <p class="paragraph">There are always risks when running your own business, trust our screening services to minimize them. Check your job applicants and potential partners, get detailed references, and invest rationally.</p>
                <ul>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Pre-employment screening</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Investment Screening</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Partnership Screening </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-xs-12 clear-padding list">
                <div class="border-bottom"></div>
                <h4 class="list-title">Background Check Services:</h4>
                <p class="paragraph">Our background services will provide you with detailed and accurate records about anyone you are interested in. As a result of our smart systems and large database, we deliver you important background information such as education records, property records, marriage records, employment records, etc.. Being aware of your surroundings gives you a solid advantage.</p>
                <ul>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Education Records</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Employment Records</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Marriage/divorce records</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>License records</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Property records</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Abuse Records</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Lawsuits records</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Criminal background checks</li>
                </ul>
              </div>
              <div class="col-xs-12 clear-padding list">
                <div class="border-bottom"></div>
                <h4 class="list-title">Search Services:</h4>
                <p class="paragraph">By using our people search engine, customers instantly find information about people by name, phone number, e-mail, or location. Users can get in touch with old friends or relatives they have lost contact with, or can find out whether among their neighbors there are criminals. This service assists you to track down addresses, numbers, and other contacts.</p>
                <ul>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Pre-employment screening</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Investment Screening</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Partnership Screening</li>
                </ul>
              </div>
              <div class="col-xs-12 clear-padding list">
                <div class="border-bottom"></div>
                <h4 class="list-title">Protection Services:</h4>
                <p class="paragraph">Least but not last, our services help you to be on the safe side. The more you know about people around you, the more you will be protected against frauds and crimes.</p>
                <ul>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Protect your identity</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Violence prevention</li>
                  <li class="col-xs-12 col-sm-6 paragraph"><span class="glyphicon glyphicon-record"></span>Fraud prevention</li>
                </ul>
              </div>
            </div>
            <h4 class="text-center col-xs-12 clear-padding bottom-text font-medium-s">Try our services! Look “behind closed doors”!</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<info-spy-footer></info-spy-footer>
